<form
  (ngSubmit)="setdataname()"
  [formGroup]="myInputDatanameForm">
  <!--<div formArrayName="oldnames">-->
  <div formArrayName="dinfos">
    <div>
      <div style="font-weight: bold; margin-right: 20px;">データ名設定</div>
      <mat-form-field>
        <!--
        <mat-select name="setdatanamelist"
            [(value)]="selected_olddataname">
          <mat-option *ngFor="let dataname of oldnames.controls; let i=index;"
              [value]="dataname.controls.name.value">
              {{dataname.controls.name.value}}</mat-option>
        </mat-select>
        -->
        <mat-select name="setdatanamelist"
            placeholder="データ名選択"
            [(value)]="selected_dinfo.dataid">
          <mat-option *ngFor="let dinfo of dinfos.controls;"
              [value]="dinfo.controls.dinfo.value.dataid">
              {{dinfo.controls.dinfo.value.dataname}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field>
    <input
        matInput placeholder="新しいデータ名"
        formControlName="new_name"
        maxlength="32">
  </mat-form-field>
</form>
<div style="width: 100%;">
  <div style="margin-left: auto; width: 220px;">
    <mat-dialog-actions>
      <button class="mat-raised-button mat-primary"
          style="width: 100px; margin-right: 10px"
          [disabled]="selected_dinfo.dataname === ''"
          (click)="save()">OK</button>
      <button class="mat-raised-button mat-primary"
          style="width: 100px;"
          (click)="close()">キャンセル</button>
    </mat-dialog-actions>
  </div>
</div>