<!--(ngSubmit)="setunitstr()"-->

<form
  [formGroup]="myInputColorForm">
  <div formArrayName="dinfos">
    <div>
      <div style="font-weight: bold; margin-right: 20px; margin-bottom: 10px;">色設定</div>
      <mat-form-field>
        <mat-select name="setcolorlist"
            placeholder = "データ名選択"
            [(value)]="selected_dinfo.dataid"
            (selectionChange)="change_selectname($event)">
          <mat-option *ngFor="let dinfo of dinfos.controls; let i=index;"
              [value]="dinfo.controls.dinfo.value.dataid">
              {{dinfo.controls.dinfo.value.dataname}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div style="margin: 5px 0px;">
    <input [(colorPicker)]="data.selected_colorstr" [style.background]="data.selected_colorstr"/>
  </div>
</form>
<!--[disabled]="new_name.hasError('required') || selected_dataname === ''"-->

<div style="width: 100%;">
  <div style="margin-left: auto; width: 220px;">
    <mat-dialog-actions>
      <button class="mat-raised-button mat-primary"
          style="width: 100px; margin-right: 10px"
          (click)="save()">OK</button>
      <button class="mat-raised-button mat-primary"
          style="width: 100px;"
          (click)="close()">キャンセル</button>
    </mat-dialog-actions>
  </div>
</div>


