<div style="font-weight: bold; margin-bottom: 20px;">表示期間設定</div>
<app-dispspan></app-dispspan>
<div style="width: 100%;">
  <div style="margin-left: auto; width: 220px;">
    <mat-dialog-actions>
      <button
          class="mat-raised-button mat-primary"
          style="width: 100px; margin-right: 10px;"          
          (click)="save()">OK</button>
      <button
          class="mat-raised-button mat-primary"
          style="width: 100px; margin-right: 10px;"
          (click)="close()">キャンセル</button>
    </mat-dialog-actions>
  </div>
</div>