<mat-form-field>
  <input matInput [matDatepicker]="pickerfrom" placeholder="開始日" [(ngModel)]="datefromValue" name="datefromname" readonly>
  <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
  <mat-datepicker #pickerfrom disabled="false" touchUi="true"></mat-datepicker>
  <ngb-timepicker [(ngModel)]="time_st"></ngb-timepicker>  
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="pickerto" placeholder="終了日" [(ngModel)]="datetoValue" name="datetoname" readonly>
  <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
  <mat-datepicker #pickerto disabled="false"  touchUi="true"></mat-datepicker>
  <ngb-timepicker [(ngModel)]="time_ed"></ngb-timepicker>
</mat-form-field>  
